@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #111;
    min-height: 100vh;
}

.game-area {
    display: inline-block;
    position: relative;
}

.game-over--txt {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Changa One', cursive;
    font-size: 72px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-text-stroke:1px #111;
}